<ion-header>
    <ion-toolbar>
        <ion-title>Add Note</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #value="ngForm" (ngSubmit)="saveNote(value)">
        <ion-item>
            <ion-label>
                Date
            </ion-label>
            <ion-datetime displayFormat="mm/dd/yyyy" name="date" ngModel></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>
                Title
            </ion-label>
            <ion-input type="text" name="title" ngModel>
                <div class='alert' *ngIf="!formGroup.controls['title'].valid"></div>
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>
                Note
            </ion-label>
            <ion-input type="text" name="content" ngModel>
                <div class='alert' *ngIf="!formGroup.controls['content'].valid"></div>
            </ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!formGroup.valid">Save Note</ion-button>
    </form>

</ion-content>